<div class="row my-4">
    <div class="card mb-4">
        <div class="card-header pb-0">
            <h6>Đơn hàng gần đây</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                    <thead>
                        <tr>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                #ID</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                Username</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                Trạng thái
                            </th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                Tổng tiền
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each orders}}
                        <tr>
                            <td>
                                <div class="d-flex px-2 py-1">

                                    <h6 class="mb-0 text-sm"><a href="/order/{{this.idorder}}">#{{this.idorder}}</a>
                                    </h6>

                                </div>
                            </td>
                            <td>
                                <p class="text-xs font-weight-bold mb-0">{{this.username}}</p>

                            </td>
                            <td class="align-middle text-center text-sm">
                                <span class="badge badge-sm bg-gradient-success">{{this.status}}</span>
                            </td>
                            <td class="align-middle text-center">
                                <span class="text-secondary text-xs font-weight-bold">{{priceToMoney
                                    this.total}}</span>
                            </td>
                            <td class="align-middle">
                                <a href="/admin/order/{{this.idorder}}" class="text-secondary font-weight-bold text-xs"
                                    data-toggle="tooltip" data-original-title="Edit user">
                                    Cập nhật
                                </a>
                            </td>
                        </tr>
                        {{/each}}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>