<div class="row my-4">
    <div class="card mb-4">
        <div class="card-header pb-0">
            <h6>Đơn hàng gần đây</h6>
            <a class="btn bg-gradient-primary mt-3 w-100" href="/admin/book/add">Thêm sản phẩm</a>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                    <thead>
                        <tr>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                #ID</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                Tên</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                Tác giả
                            </th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                Số lượng
                            </th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                Thể loại
                            </th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                Giá
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each books}}
                        <tr>
                            <td>
                                <div class="d-flex px-2 py-1">

                                    <h6 class="mb-0 text-sm">#{{this.idbook}}
                                    </h6>

                                </div>
                            </td>
                            <td>
                                <p class="text-xs font-weight-bold mb-0"><a
                                        href="/admin/book/{{this.idbook}}">{{this.namebook}}</a></p>

                            </td>

                            <td class="align-middle text-center">
                                <span class="text-secondary text-xs font-weight-bold">{{this.author}}</span>
                            </td>
                            <td class="align-middle text-center">
                                <span class="text-secondary text-xs font-weight-bold">{{this.number}}</span>
                            </td>
                            <td class="align-middle text-center">
                                <span class="text-secondary text-xs font-weight-bold">{{this.category}}</span>
                            </td>
                            <td class="align-middle text-center text-sm">
                                <span class="badge badge-sm bg-gradient-success">{{this.price}}</span>
                            </td>
                            <td class="align-middle">
                                <a href="/admin/book/{{this.idbook}}" class="text-secondary font-weight-bold text-xs"
                                    data-toggle="tooltip" data-original-title="Edit user">
                                    Cập nhật
                                </a>
                            </td>
                        </tr>
                        {{/each}}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>