{{!--
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> --}}
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{{!--
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> --}}
<!------ Include the above in your HEAD tag ---------->
{{#if ok}}
<div class="alert alert-success" role="alert">
    Cập nhật thành công
</div>
{{/if}}

<form class="form-horizontal" action="/admin/coupon/update" method="post">
    <fieldset>

        <!-- Form Name -->
        <legend>Cập nhật mã</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="product_id">Code</label>
            <div class="col-md-4">
                <input id="product_id" placeholder="Mã giảm giá" value="{{coupon.code}}" class="form-control input-md"
                    required="" type="text" disabled>
                <input name="code" placeholder="Mã giảm giá" class="form-control input-md" required="" type="text"
                    value="{{coupon.code}}" hidden>
            </div>
        </div>



        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="available_quantity">Phần trăm giảm</label>
            <div class="col-md-4">
                <input id="available_quantity" name="percent" placeholder="0.0 đến 1.0" class="form-control input-md"
                    required="" type="text" value="{{parseInt coupon.percent}}">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="product_weight">Ngày bắt đầu</label>
            <div class="col-md-4">
                <input id="product_weight" name="startday" placeholder="2022/05/26" class="form-control input-md"
                    required="" type="text" value="{{getDate coupon.startday}}">

            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="product_weight">Ngày kết thúc</label>
            <div class="col-md-4">
                <input id="product_weight" name="endday" placeholder="2022/05/26" class="form-control input-md"
                    required="" type="text" value="{{getDate coupon.endday}}">

            </div>
        </div>




        <!-- Text input-->
        <div class="form-group">

            <!-- Button -->
            <div class="form-group">
                <div class="col-md-4">
                    <button type="submit" id="singlebutton" name="singlebutton" class="btn btn-primary">Cập
                        nhật</button>
                </div>
            </div>

    </fieldset>
</form>