<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#ID</th>
            <th scope="col">Ngày đặt</th>
            <th scope="col">Ngày giao</th>
            <th scope="col">Trạng thái</th>
            <th scope="col">Mã giảm giá</th>
        </tr>
    </thead>
    <tbody>
        {{#each orders}}
        <tr>
            <th scope="row"><a href="/order/{{this.idorder}}">{{this.idorder}}</a></th>
            <td>{{getDate this.purchasedate}}</td>
            <td>{{getDate this.deliverydate}}</td>
            <td>{{this.status}}</td>
            <td>{{this.discount}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>